<div class="container">
<h1>New Restaurant</h1>

<%= simple_form_for @restaurant do |f| %>
  <%= f.input :name %>
  <%= f.input :category, collection: Restaurant::CATEGORY.sort %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
</div>

<%= link_to 'Back', restaurants_path, class: "btn btn-primary" %>
