
<br>
<br>
<div class="container">
  <h1><%= @restaurant.name %></h1>
    <p><%=  @restaurant.address %></p>
    <p><%= @restaurant.category %></p>
    <%@restaurant.reviews.each do |review|  %>
    <p><%= review.content %><%= " Rating:"%> <%= "â¤" * review.rating  %></p>

    <% end %>
    <%= link_to 'Add new review', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>

  <%= link_to 'Back to list', restaurants_path, class: "btn btn-primary" %>
</div>
